@font-face {
  src: url("../assets/fonts/Roslindale-DisplayCondensedMedium.woff2") format("woff2"),
    url("../assets/fonts/Roslindale-DisplayCondensedMedium.woff") format("woff");
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 500;
}
