@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-blue-100;
  }

  .nav-link {
    @apply p-2 hover:bg-slate-600 rounded transition-all;
  }

  .bulleted {
    position: relative;

    &:before {
      content: "\2022";
      position: absolute;
      left: -20px;
      top: 0.5em;
      color: var(--bullet-color);
    }
  }

  .general-link {
    @apply focus:underline hover:underline inline-block;
  }

  ul {
    .general-link {
      @apply block;
    }
  }

  .section-header {
    @apply mb-2 text-sm text-slate-400;
  }

  .root {
    @apply mx-auto max-w-2xl;
  }

  .skeleton-text {
    @apply w-full h-4 animate-pulse rounded;
  }
  .img-wrap {
    @apply flex flex-shrink-0 flex-grow object-contain object-center aspect-square;
    &.soft-round {
      @apply rounded shadow overflow-hidden;
    }
    &.sm-img {
      @apply max-w-[40px] max-h-[40px];
    }
    &.md-img {
      @apply max-w-[80px] max-h-[80px];
    }
    &.lg-img {
      @apply max-w-[200px] max-h-[200px];
    }
    &.xl-img {
      @apply max-w-[320px] max-h-[320px];
    }
  }
}
